.font{
    font-family: sans-serif;

}
.center{
    text-align: center;
}
.header{
    background-color: #192f5d;
    color: rgb(237, 243, 248);
}
.card-header{
    background-color: #192f5d;
    color: aliceblue;
}


A:hover{
    
    font-size: 20PX;
}
ul{
    display: inline-block;
    text-align: left;
}
body{
     background-color: rgb(44, 44, 41);
     color: aliceblue;
}

legend{
    font-weight: bold;
   
}
.card{
    color: black;
}